<!DOCTYPE html>
<html lang="vi">
<head>
    <base href="/">
    <style>
        <%- css%>
    </style>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//cdn.ampproject.org">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="fo-verify" content="56bd2285-d29f-417d-81c6-2f3221b2f495">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta property="fb:app_id" content="236452487087200" class="next-head">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="google-site-verification" content="9oqxPwHWQJSatDO-t8HymX-6HZ7FiTSKxH5LS1FcE28">
    <title><%= title %></title>
    <link rel="canonical" href="<%= canonical %>">
    <link rel="alternate" hreflang="vi-vn" href="<%= canonical %>">
    <meta name="description"
          content="<%= description %>">
    <meta property="og:url" content="<%= canonical %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="https://ifarmer.vn/">
</head>

<body class="bg-will-sand dove-gray">
<div class=" max-width-1200px margin-0-auto">
    <%- include("../tracking/google-analytics.ejs") -%>
