<% if(category._source.images){ %>
    <a href="<%= category._source.url %>/" class="single-item ml-3">
        <div class="mb2">
            <div class="dib br-50 b-bold-1 w-131 h-131 overflow-hidden" title="<%= category._source.name %>">
                <amp-img width="131" height="131" src="<%= category._source.transformedImages[0].image.small_1x1.url %>"
                         alt="<%= category._source.name %>">
                    <amp-img
                             fallback
                             width="131" height="131"
                             src="<%= category._source.images[0].url %>"></amp-img>
                </amp-img>
            </div>
        </div>
        <div class="tc">
            <%= category._source.name %>
        </div>
    </a>
<% } %>
