<section>
    <h2 class="z-2 header-wrap relative b ttu pa-heading-panel dib b-top-right-radius-5 bg-theme-color f15 white lh-30">
        Top Products</h2>
    <amp-carousel
            height="732"
            layout="fixed-height"
            type="carousel"
            class="none-scrollbar slider-no-padding-container z-1 tc"
            controls
    >

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

        <div class="no-padding-item ws-normal "
        >
            <%- include("./product.ejs") -%>
            <%- include("./product.ejs") -%>
        </div>

    </amp-carousel>
</section>
