<div class="relative bg-white box-shadow-0-5px-4px-0-rgba0-0-0-01 flex flex-wrap pa2 ph3-ns">
    <div class="tl absolute ma2 top-0 left-0 width-80px ma3-l width-111px-l">
        <%- include("logo.ejs") -%>
    </div>
    <div class="w-100 tr w-50-ns pv3 pr2-ns">
        <%- include("phone-contact.ejs") -%>
    </div>
    <div class="w-100 mt3 tc w-50-ns padding-right-3rem-l">
        <%- include("search.ejs") -%>
    </div> 
    <div class="w-50 mt2 tl padding-right-144px tr-ns absolute-l right-0 width-56px-l pr3-l top-20px-l">
        <%- include("messenger.ejs") -%>
    </div>
    <div class="w-50 mt2 tr dn-l">
            <%- include("bugger.ejs") -%>
    </div>
    <div class="dn w-100 tc db-l">
        <%- include("menu.ejs") -%>
    </div>
    <%- include("sidebar.ejs") -%>

</div>
