<%- include("../../../components/master/head") -%>

<h1 class="f2 f1-l"><%= heading %></h1>

<div>
    <%-     include("./components/atf-pdp/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/products-list/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/articles-list/view.ejs") -%>
</div>


<div class="pa3">
    <%-     include("./components/top-articles/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/top-products/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/top-categories/view.ejs") -%>
</div>
<div>
    <%-     include("./components/top-articles-adp/view.ejs") -%>
</div>
<div>
    <%-     include("./components/content-adp/view.ejs") -%>
</div>
<div>
    <%-     include("./components/related-articles/view.ejs") -%>
</div>
<div>
    <%-     include("./components/content-pdp/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/categories-sidebar/view.ejs") -%>
</div>


<%- include("../../../components/master/footer") -%>
