<%- include("../../../components/layouts/head") -%>

<body class="bg-will-sand">
<h1 class="f2 f1-l"><%= heading %></h1>
<div class="pa3">
    <%-     include("./components/top-products/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/top-categories/view.ejs") -%>
</div>

<div class="pa3">
    <%-     include("./components/categories-sidebar/view.ejs") -%>
</div>

</body>

<%- include("../../../components/layouts/footer") -%>
