<section>
    <h2 class="pa-heading-panel dib relative b z-2 f30 black lh-30"> Explore Whats Trending </h2>
    <amp-carousel
            class="none-scrollbar slider-article bg-white z-1"
            height="360"
            layout="fixed-height"
            type="carousel"
            controls
    >
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>

        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>

        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>

        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
   <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>

        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>
        <div class="item ws-normal ">
            <%-     include("./article.ejs") -%>
        </div>

    </amp-carousel>
</section>
