<a
        class="w-100 w-50-m w-100-l flex flex-wrap mt1 items-center link"
        href="/bai-viet/<%= article._source.url %>/" data-vars-click-ga-trigger="click_popular_article_item"
        data-vars-label="name:/bai-viet/<%= article._source.url %>/" title="<%= article._source.title %>">
    <div class="width-5rem height-5rem">
        <% if(article._source.transformedImages[0]){ %>
            <amp-img width="1" height="1" layout="responsive"
                     src="<%= article._source.transformedImages[0].image.small_1x1.url %>"
                     alt="<%= article._source.title %>">
                <amp-img width="1" height="1" layout="responsive"
                         fallback
                         src="<%= article._source.images[0].url %>"
                ></amp-img>

            </amp-img>
        <% } %>

    </div>
    <div class="pl2 w3 flex-grow-1"><h3 class="f7 dark-green mv0"><%= article._source.title %></h3>
        <div class="f8 gray mt1">
            <%= article._source.updatedAt.split('T')[0] + ' Nguồn ' + article._source.author %>
        </div>
    </div>
</a>