<a href="/san-pham/<%= product._source.url %>/" class="db relative b-bottom-2 b-right-2 pa-item"
>
    <div>

        <amp-img class="margin-auto" width="212" height="212" layout="responsive"
        <% if(product._source.images) { %>
                 src="<%= product._source.images.url %>"
                <% } %>
                 alt="<%= product._source.productSource.title + " " + product._source.extraTitle %>"></amp-img>
        <div>
            <div class="f13 dusty-ray h1" tabindex="0">
                <% if(product._source.categorySource){ %>
                    <%= product._source.categorySource.title %>
                <% } %>
            </div>
            <h3 class="line-height-15rem truncate height-15rem">
                <%= product._source.productSource.title + " " + product._source.extraTitle %>
            </h3>
            <div>
                <span class="limeade1 f21"><%= product._source.price || "Lien He" %></span>
            </div>
        </div>
    </div>
</a>
