<div href="/san-pham/<%= product._source.url %>/" class="db relative b-bottom-2 b-right-2 pa-item"
>
    <a href="/san-pham/<%= product._source.url %>/"
       data-vars-click-ga-trigger="click_list_product_item"
       data-vars-label="<%= product._source.url %>"
       class="db"
    >

        <%
        if (!product._source.transformedImages[0].image) {
            console.log(product._source.productSource.title);
        } %>
        <amp-img class="margin-auto" width="200" height="200" layout="responsive"
                 src="<%= product._source.transformedImages[0].image.small_1x1.url %>"
                 alt="<%= product._source.productSource.title %>">
            <amp-img fallback
                     class="margin-auto" width="200" height="200" layout="responsive"
                     src="<%= product._source.images[0].url %>"
            ></amp-img>
        </amp-img>
        <div>
            <div class="f13 dusty-ray h1" tabindex="0">
                <% if(product._source.categorySource){ %>
                    <%= product._source.categorySource.title %>
                <% } %>
            </div>
            <h3 class="line-height-15rem truncate height-15rem">
                <%= product._source.productSource.title %>
            </h3>

            <div>
                <% if(product._source.price) { %>
                    <% if(product._source.original_price) { %>
                        <span class="f14 strike"><%= product._source.original_price.toString().money() %></span>
                    <% }%>
                    <span class="limeade1 f21"><%= product._source.price.toString().money() %></span>
                <% }else{ %>
                    <span class="limeade1 f21">Liên Hệ</span>
                <% } %>
            </div>
        </div>
    </a>

    <div on="tap:AMP.navigateTo(url='/new/add-to-cart?product_url=<%= product._source.url %>')" tabindex="0" role="button"
         class="pointer pa2 br2 background-color-80bb01 border-color-80bb01 color-ffffff"
         data-ga-trigger="ga-conversion"
         data-vars-action="list-product-cart-button"
         data-vars-product="<%= product._source.url %>">
        <div class="margin-auto db width-max-content">
            <amp-img class="dib v-mid" width="30" height="30"
                     src="/assets/sprites.svg#ios-cart"
            ></amp-img>
            <div class="dib v-mid">Đặt Hàng</div>
        </div>
    </div>
</div>
