<a href="/san-pham/<%= product._source.url %>/" class="db relative b-bottom-2 b-right-2 pa-item"
>
    <div>
        <%
        if (!product._source.transformedImages[0].image) {
            console.log(product._source.productSource.title);
        } %>
        <amp-img class="margin-auto" width="212" height="212" layout="responsive"
                 src="<%= product._source.transformedImages[0].image.small_1x1.url %>"
                 alt="<%= product._source.productSource.title %>">
            <amp-img fallback
                     class="margin-auto" width="212" height="212" layout="responsive"
                     src="<%= product._source.images[0].url %>"
            ></amp-img>
        </amp-img>
        <div>
            <div class="f13 dusty-ray h1" tabindex="0">
                <% if(product._source.categorySource){ %>
                    <%= product._source.categorySource.title %>
                <% } %>
            </div>
            <h3 class="line-height-15rem truncate height-15rem">
                <%= product._source.productSource.title %>
            </h3>
            <div>
                <% if(product._source.price) { %>
                    <span class="limeade1 f21"><%= product._source.price.toString().money() %></span>
                <% }else{ %>
                    <span class="limeade1 f21">Liên Hệ</span>
                <% } %>
            </div>
        </div>
    </div>
</a>
