<div class="bg-white pa3 relative pl7-l flex-l flex-wrap-l">
    <div class="absolute-l h5 w5 margin-auto top-1 left-1">
        <%- include("./product-images.ejs") -%>
    </div>
    <div id="title-section" class="pl4-l w-100-l">
        <h1 class="mt3"><%= productDetail.h1 %></h1>
    </div>
    <div class="font-weight-400 color-80bb01 font-size-28px margin-bottom-15px pl4-l w-100-l">
        <% if(productDetail.original_price) { %>
            <span class="f14 strike"><%= productDetail.original_price.toString().money() %></span>
        <% }%>
        <span class="discounted-price"> <%= productDetail.price ? productDetail.price.toString().money() : "Liên Hệ" %></span>
    </div>
    <div class="font-size-15px line-height-30px border-none padding-0 pl4-l w-100-l">
        <p><%= productDetail.description %></p>
    </div>
<!--    <% if(productDetail.enableOrder){ %>-->
    <% if(false){ %>
        <%- include("./cart-button.ejs") -%>
    <% }else{ %>
        <%- include("./redirect-order-button.ejs") -%>

      <%}%>
    <div class="pl4-l w-100-l">
        <%- include("./variants.ejs") -%>
    </div>
    <!--    <div>Categories</div>-->
    <!--    <div>Share this prod</div>-->
</div>
