<%- include("../../../components/master/head") -%>

<h1 class="f2 f1-l"><%= heading %></h1>

<div class="pa2 pa0-ns">
    <%- include("../../../components/breadcrumb/view.ejs", {breadcrumb:breadcrumb}) -%>
</div>

<div  class="pa2 pa0-ns">
    <%-     include("../../../components/products-list/view.ejs", {products: products}) -%>
</div>

<%- include("../../../components/structured-data/view.ejs", {structuredData:structuredData}) -%>


<%- include("../../../components/master/footer") -%>
