<%- include("../../../components/master/head") -%>

<div class="pa2 pa0-ns">
    <h1 class="f2 f1-l mv3"><%= articleDetail._source.title %></h1>
    <div class="f13 dusty-ray"
         tabindex="0"><%= articleDetail._source.updatedAt.split('T')[0] + ' ' + articleDetail._source.author %>
    </div>
</div>

<div class="mt3 pa2 pa0-ns flex-l flex-wrap-l">
    <div class="w-73-l">
        <%- include("./components/content-adp/view.ejs") -%>
    </div>
    <div class="w-27-l">
        <div class="w-300px-l mt3 mt0-l margin-left-auto">
            <div class="mt3 mt0-l">
                <%- include("./components/articles-panel/view.ejs", {articles:topArticlesADP, heading:"Bài Viết Nổi Bật"}) -%>
            </div>
            <div class="mt3">
                <%- include("./components/articles-panel/view.ejs", {articles:newArticles, heading:"Bài Viết Mới"}) -%>
            </div>
        </div>
    </div>

</div>

<% if(relatedArticles.length){ %>
    <div class="mt3 pa2 pa0-ns background-ffffff">
        <%- include("../../../components/articles-carousel/view.ejs", {articles: relatedArticles, heading:"Bài Viết Liên Quan"}) -%>
    </div>
<% } %>
<% if(relatedProducts.length){ %>

    <div class="mt3 pa2 pa0-ns">
        <%- include("../../../components/products-carousel/view.ejs", {products: relatedProducts, heading:"Sản phẩm Liên Quan"}) -%>
    </div>
<% } %>

<%- include("../../../components/structured-data/view.ejs", {structuredData:structuredData}) -%>


<%- include("../../../components/master/footer") -%>
