<%- include("../../../components/master/head") -%>

<h1 class="f2 f1-l"><%= heading %></h1>

<div class="pa2 pa3-ns">
    <%-     include("./components/content-adp/view.ejs") -%>
</div>

<div class="pa2 pa3-ns">
    <%-     include("./components/top-articles-adp/view.ejs") -%>
</div>

<div class="pa2 pa3-ns background-ffffff">
    <%-     include("../../../components/articles-carousel/view.ejs", {articles: relatedArticles, heading:"Bài Viết Liên Quan"}) -%>
</div>


<%- include("../../../components/structured-data/view.ejs", {structuredData:structuredData}) -%>


<%- include("../../../components/master/footer") -%>
