<%- include("../../../components/master/head") -%>

<div>
    <%-     include("./components/atf-pdp/view.ejs") -%>
</div>

<div>
    <%-     include("./components/related-articles/view.ejs") -%>
</div>

<div>
    <%-     include("./components/content-pdp/view.ejs") -%>
</div>



<%- include("../../../components/master/footer") -%>
