<%- include("../../../components/master/head") -%>

<amp-experiment>
    <script type="application/json">
        {
          "order-button": { "variants": {"Original":25,"Orange":25,"Blue":25,"Red":25}},
          "summer-product": { "variants": {"0":25,"1":25,"2":25,"3":25} }
        }
    </script>
</amp-experiment>

<div class="pa2 pa0-ns">
    <%- include("../../../components/breadcrumb/view.ejs", {breadcrumb:breadcrumb}) -%>
</div>

<div class="pa2 pa0-ns">
    <%- include("./components/atf-pdp/view.ejs") -%>
</div>

<% if(relatedArticles.articles.length>0){ %>
    <div class="pa2 pa0-ns">
        <%- include("./components/related-articles/view.ejs") -%>
    </div>
<% } %>

<div class="pa2 pa0-ns">
    <%- include("./components/content-pdp/view.ejs") -%>
</div>

<% if(relatedProducts.length > 0){ %>
    <div class="pa2 pa0-ns">
        <%- include("../../../components/products-carousel/view.ejs", {products: relatedProducts, heading:"Sản phẩm liên quan"}) %>
    </div>
<% } %>

<%- include("../../../components/structured-data/view.ejs", {structuredData:structuredData}) -%>


<%- include("../../../components/master/footer") -%>
