<%- include("../../../components/master/head") -%>


<div class="pa2 pa3-ns">
    <%- include("../../../components/breadcrumb/view.ejs", {breadcrumb:breadcrumb}) -%>
</div>

<div class="pa2 pa3-ns">
    <%- include("./components/atf-pdp/view.ejs") -%>
</div>
<% if(relatedArticles){ %>
    <div class="pa2 pa3-ns">
        <%- include("./components/related-articles/view.ejs") -%>
    </div>
<% } %>

<div class="pa2 pa3-ns">
    <%- include("./components/content-pdp/view.ejs") -%>
</div>

<%- include("../../../components/structured-data/view.ejs", {structuredData:structuredData}) -%>


<%- include("../../../components/master/footer") -%>
